.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  & > * {
    flex: 1;
  }

  .pre {
    border-radius: 2px;
    padding: 2em;
    color: lightgreen;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s ease;
    font-size: 11px;
  }
}
